@import "../../../../../variables";
mat-card{
    margin-top: 2%;
    padding: 0 auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px;
}
.button-shadow {
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    min-height: 45px;
    font-size: 15px;
    border-radius: 8px;
    letter-spacing: 0.5px;
    width: 230px;
}
.form-wrapper {
    width: 80%;
}
.large {
    font-size: 24px !important;
  }
  .field-large {
    margin-top: 14px !important;
  }

  mat-form-field {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
  }
  
  ::ng-deep .mat-form-field-label span{
    color: $red;
    font-size: 20px;
    margin-left: 5px;
  }
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: $white;
  }