


<div class="header-content mat-elevation-z10">
    <button mat-raised-button > Home</button>
    <button mat-raised-button >Enrolled Sessions</button>
    <button mat-raised-button >Created Sessions</button>
    <button mat-raised-button >Mentor Directory</button>
</div>




<!-- <mat-tab-group dynamicHeight>
    <mat-tab label="Short tab">
      <div class="example-small-box mat-elevation-z4">
        Small content
      </div>
    </mat-tab>
    <mat-tab label="Long tab">
      <div class="example-large-box mat-elevation-z4">
        Large content
      </div>
    </mat-tab>
  </mat-tab-group> -->