<div>
  <mat-toolbar class="toolbar" class="shadow bottom">
    <mat-toolbar-row>
      <img class="header-logo" src="/assets/images/MentorEd-logo.svg" />
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxLayout="row" fxLayout.xs="column"  fxLayout.sm="column">
    <div class="left-div" fxLayout="column" fxFlex="40" fxLayoutAlign="center center">
      <h1 class="text">
        {{ header | translate }}
      </h1>
      <label class=text>
        {{subHeader | translate}}
      </label>
    </div>
    <div class="right-div" fxFlex="60">
      <div class="router-outlets">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
