@import "/src/variables";
.head {
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    color: $theme;
    padding: 5% 0 5% 0;
    font-weight: 700;
}
.input {
    justify-content: center;
}
.reset {
    justify-content: center;
    align-items: center;
    width: 100%;
}