@import '@angular/material/theming';

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core();

$sb-brand: (
  50: #d5e1f9,
  100: #84c0ee,
  200: #4a7493,
  300: #376e99,
  400: #1e5f91,
  500: #155384,
  600: #0c3b5e,
  700: #093151,
  800: #04233b,
  900: #011321,
  A100: #2e73a8,
  A200: #155384,
  A400: #0a416b,
  A700: #022c4b,
  contrast: (50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);

$sb-palette-primary: mat-palette($sb-brand);
$sb-palette-accent: mat-palette($sb-brand);

$sb-theme: mat-light-theme($sb-palette-primary, $sb-palette-accent);

@include angular-material-theme($sb-theme);

.success {
  background-color: #39a464;
  color: white;
}

.error {
  background-color: #ee0b0b;
  color: white;
}